
/* Sidebar Styles */
.sidebar {
  position: relative;
    width: 25%;
    height: 100vh;
    color: black;
    padding-top: 20px;
    transition: width 0.3s; /* Add a smooth transition effect on width change */
    box-shadow: 0 4px 8px rgba(124, 85, 85, 0.1); /* Add a subtle shadow for depth */
    border-right: 2px solid lightgray;
  }

  .logo-sidebar{
    display: flex;
    align-items: center;
    margin: 2.5%;
    padding-bottom: 10%;
  }

  .logo-img{
    width: 10vh;
  }

  .logo-txt{
    margin-top: 5%;
    margin-left: 5%;
  }
  
  
  /* Sidebar Links */
  .sidebar .sidebar-links {
    display: flex;
    padding: 15px;
    font-family: "Prompt";
    text-decoration: none;
    color: black;
    transition: background-color 0.3s; /* Add a smooth transition effect on background color change */
    
  }
  
  .sidebar a{
    text-decoration: none;
    padding-left: 5%;
    font-weight: 500;
  }

  .sidebar a:visited{
    text-decoration: none;
    color: black;
  }

  /* Change the color and add a hover effect */
  .sidebar .sidebar-links:hover {
    background-color: lightblue;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }

  .sidebar-profile{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: 2vh;
    border-top: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-img{
    width: 10vh;
    padding: 2vh;
  }

  .profile-content{
    margin-top: 2vh;
    align-items: center;
  }

  .profile-content h2{
    font-size: medium;
  }

  .sidebar-logout:hover{
    background-color: lightblue;
  }


