/* *{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
} */

.wrapper{
  display: grid;
  gap:1%;
  grid-template-areas:
  'cover cover info info'
  'cover cover info info'
  'cover cover buttons buttons';
}
.book-info{
  grid-area: info;
}

.book-buttons{
  grid-area: buttons;
}

.book-cover{
  grid-area: cover;
}


h1{
  font-size:7vh;
  color: #4a4a4c;
}

h2{
  font-size: 6vh;
  color:#2563eb
}

h3{
  font-size: 4vh;
  color:#2563eb
}

h4{
  font-size: 2vh;
  color: #4a4a4c;
}
.heading{
  margin: auto;
  text-align: center;
  color: #4a4a4c;
 }


button{
  width: 120px;
  height: 40px;
  background-color: #2563eb;
  color: aliceblue;
  border:none;
  border-radius: 10px;
  font-size: 13px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 70px;
  font-weight: bold;
}

.styled-heading{
  color: #4a4a4c;
  font-size:12px;
  text-align:left;
  margin: 10px;
  font-weight:400;
}

.App{
  text-align:center;
}